[Unit]
Description=Job Tracker FastAPI App
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/jobtracker
EnvironmentFile=/root/jobtracker/.env
ExecStart=/root/jobtracker/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
